In [1]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df

   student_id  math_score  english_score  chinese_score
0           1          56             66             70
1           2          90             45             34
2           3          45             32             55
3           4          70             77             89
4           5          56             80             70
5           6          60             54             55
6           7          45             70             79
7           8          34             77             76
8           9          25             87             60
9          10          88             40             43

### 對以下成績資料做分析
#### 6號學生(student_id=6) 3 科平均分數為何？

In [2]:
score_df = score_df.set_index('student_id')
score_df.loc[score_df.index == 6].mean(axis=1)[6]

56.333333333333336

#### 6號學生 3 科平均分數是否有贏過班上一半的同學？

In [3]:
if score_df.loc[score_df.index == 6].mean(axis=1)[6] > score_df.mean(axis=1).median():
    print('yes')
else:
    print('no')

no

#### 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？

In [4]:
score_df = score_df.apply(lambda x : x**(0.5) *10)
score_df, score_df.loc[6]

(            math_score  english_score  chinese_score
 student_id
 1            74.833148      81.240384      83.666003
 2            94.868330      67.082039      58.309519
 3            67.082039      56.568542      74.161985
 4            83.666003      87.749644      94.339811
 5            74.833148      89.442719      83.666003
 6            77.459667      73.484692      74.161985
 7            67.082039      83.666003      88.881944
 8            58.309519      87.749644      87.177979
 9            50.000000      93.273791      77.459667
 10           93.808315      63.245553      65.574385,
 math_score       77.459667
 english_score    73.484692
 chinese_score    74.161985
 Name: 6, dtype: float64)

#### 承上題，加分後各科班平均變多少？

In [5]:
score_df.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64